.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 80%;
    margin: 0px auto 50px auto;
}
.lines {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.line {
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: #000;
}

.text-p {
    font-size: 28px;
    font-weight: 600;
    color: rgb(43, 43, 43);
    margin: 0;
}

.sub-title {
    font-size: 34px;
    font-weight: bold;
    color: rgb(43, 43, 43);
    margin: 0;
}

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 30px;
}


@media(max-width:1280px) {
    .text-p {
        font-size: 24px;
    }

    .sub-title {
        font-size: 30px;
    }
}

@media(max-width:1024px) {
    .text-p {
        font-size: 22px;
    }

    .sub-title {
        font-size: 28px;
    }

    .collections {
        margin-top: 24px;
        gap: 24px;
    }
}

@media(max-width:800px) {
    .new-collections {
        gap: 10px;
        width: 90%;
        margin: 0px auto 40px auto;
    }
    .text-p {
        font-size: 20px;
    }

    .sub-title {
        font-size: 25px;
    }
    .collections {
        grid-template-columns: 1fr 1fr 1fr ;
        margin-top: 12px;
        gap: 16px;
    }

}

@media(max-width:500px) {
    .collections {
        grid-template-columns: 1fr 1fr;
        margin-top: 10px;
        gap: 15px;
    }
    .text-p {
        font-size: 19px;
    }

    .sub-title {
        font-size: 24px;
    }
}