.shopcategory-indexSort {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 4px auto;
    font-size: 15px;
}

.shopcategory-sort {
    padding: 2px 14px;
    border-radius: 40px;
    border: 1px solid #888;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 14px;
}

.shopcategory-sort img {
    margin-left: 4px;
}

.shopcategory-indexSort p span {
    font-weight: 600;
    margin: 0px 10px;
}

.shopcategory-products {
    margin: 24px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    width: 80%;
}


@media (max-width: 800px) {
    .shopcategory-products {
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        column-gap: 15px;
        row-gap: 20px;
    }
}

@media (max-width: 500px) {
    .shopcategory-products {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 6px;
    }
    .shopcategory-sort {
        font-size: 11px;
        padding: 3px 5px;
    }
    .shopcategory-indexSort p span {
        font-size: 12px;
    }
}
