.loginsignup {
    width: 100%;
    height: 90vh;
    background: whitesmoke;
    padding-top: 50px;
}

.loginsignup-container {
    width: 40%;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h2 {
    margin: 20px 0px;
    font-size: 28px;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.loginsignup-fields input {
    height: 60px;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-container button {
    width: 100%;
    height: 70px;
    color: white;
    background: orangered;
    margin-top: 30px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-container button:hover {
    color: white;
    background: black;
}

.loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span {
    color: orangered;
    font-weight: 600;
    margin-left: 10px;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

@media(max-width:1280px) {
    .loginsignup {
        padding-top: 40px;
    }

    .loginsignup-container {
        width: 45%;
    }

    .loginsignup-container h2 {
        margin: 10px 0px;
        font-size: 24px;
    }

    x .loginsignup-fields {
        gap: 20px;
        margin-top: 20px;
    }
}

@media(max-width:800px) {
    .loginsignup {
        padding-top: 30px;
        height: 70vh;
    }

    .loginsignup-container {
        width: 60%;
    }

    .loginsignup-container h2 {
        margin: 10px 0px;
        font-size: 20px;
    }

    .loginsignup-fields {
        gap: 15px;
    }

    .loginsignup-fields input {
        height: 50px;
        padding-left: 20px;
        font-size: 16px;
    }

    .loginsignup-container button {
        height: 50px;
        margin-top: 20px;
        font-size: 18px;
    }

    .loginsignup-login {
        margin-top: 16px;
    }

    .loginsignup-agree {
        margin-top: 18px;
        gap: 15px;
        font-size: 16px;
    }
}

@media(max-width:500px) {
    .loginsignup {
        padding-top: 45px;
        height: 60vh;
    }

    .loginsignup-container {
        padding: 20px 30px;
        width: 70%;
    }

    .loginsignup-container h2 {
        margin: 10px 0px;
        font-size: 20px;
    }

    .loginsignup-fields {
        gap: 10px;
    }

    .loginsignup-fields input {
        height: 44px;
        padding-left: 20px;
        font-size: 14px;
    }

    .loginsignup-container button {
        height: 44px;
        margin-top: 15px;
        font-size: 15px;
    }

    .loginsignup-login {
        margin-top: 16px;
        font-size: 14px;
    }

    .loginsignup-agree {
        margin-top: 18px;
        gap: 15px;
        font-size: 14px;
    }
}