.item {
  width: 100%;
  position: relative;
  max-width: 240px;
  aspect-ratio: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 6px auto;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.offer-badge {
  position: absolute;
  top: 3px;
  right: 5px;
  background-color: #e60000;
  color: #fff;
  padding: 7px 11px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 6px;
  z-index: 2;
}

.item img {
  width: 100%;
  height: auto;
  max-height: 380px;
  object-fit: cover;
  border-radius: 4px 4px 0 0px;
}

.item p {
  margin: 2px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 0 2px;
  justify-content: flex-end;
}

.item-prices {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 4px;
  justify-content: flex-end;
}

.item-price-new {
  color: black;
  font-size: 15px;
  font-weight: 600;
  justify-content: flex-end;
}

.item-price-old {
  color: #888;
  font-size: 14px;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
}

@media (max-width: 1224px) {
  .item {
    max-width: 235px;
  }

  .item p {
    margin: 1px 0;
    font-size: 12.5px;
    padding: 0;
  }

  .item-prices {
    gap: 10px;
    margin-top: 1px;
  }

  .item-price-new {
    font-size: 14px;
  }

  .item-price-old {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .item {
    max-width: 225px;
  }

  .offer-badge {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .item {
    max-width: 185px;
  }

  .offer-badge {
    font-size: 11px;
  }

  .item p {
    margin: 0px;
    font-size: 11.5px;
    padding: 0;
    font-weight: 600;
  }

  .item-prices {
    gap: 6px;
    margin-top: 1px;
  }

  .item-price-new {
    font-size: 12px;
  }

  .item-price-old {
    font-size: 11.5px;
  }
}

@media (max-width: 580px) {
  .item {
    max-width: 185px;
  }

  .offer-badge {
    top: 2px;
    right: 2px;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: bold;
  }

  .item p {
    margin: 0px;
    font-size: 9px;
    padding: 0;
  }

  .item-prices {
    gap: 4px;
    margin-top: 0px;
  }

  .item-price-new {
    font-size: 10.5px;
  }

  .item-price-old {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .item {
    /* max-width: 100%; */
    aspect-ratio: 1.3 / 2.6;
  }

  .item p {
    margin: 1px 0;
    font-size: 12px;
    padding: 0 1px;
    font-weight: 600;
  }

  .item-prices {
    gap: 4px;
    margin-top: 1px;
  }

  .item-price-new {
    font-size: 12px;
  }

  .item-price-old {
    font-size: 11px;
  }
}

@media (max-width: 400px) {
  .item p {
    margin: 0;
    font-size: 10px;
    padding: 0;
  }

  .item-prices {
    gap: 4px;
    margin-top: 0;
  }

  .item-price-new {
    font-size: 11px;
  }

  .item-price-old {
    font-size: 11px;
  }
}