.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 25px 0px 0px 0px;
    background: rgb(31, 31, 31);
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p {
    color: white;
    font-size: 46px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: white;
    font-size: 20px;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icon {
    display: flex;
    gap: 20px;
}

.footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: white;
    font-size: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: 1px solid grey;
    border-radius: 10px;
}

.footer-copyright h3 {
    color: white;
}

@media(max-width:800px) {
    .footer {
        gap: 30px;
    }

    .footer-logo {
        align-items: end;
        gap: 20px;
    }

    .footer-logo img {
        width: 34px;
    }

    .footer-logo p {
        font-size: 26px;
    }

    .footer-links {
        gap: 18px;
        font-size: 15px;
        padding-right: 22px;
    }

    .footer-copyright hr {
        width: 90%;
    }

    .footer-social-icon img {
        width: 20px;
    }

    .footer-copyright {
        gap: 20px;
        font-size: 14px;
    }
}

@media(max-width:453px) {

    .footer-links {
        gap: 6px;
        font-size: 12px;
        justify-content: space-around;
    }

    .footer-copyright {
        font-size: 12px;
    }

}