.breadcrum {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 20px auto;
    text-transform: capitalize;
    width: 80%;
}

@media(max-width:1024px) {
    .breadcrum {
        gap: 15px;
        font-size: 15px;
        margin: 19px auto;
        width: 80%;
    }
}

@media(max-width:800px) {
    .breadcrum {
        gap: 8px;
        font-size: 13px;
        margin: 18px auto;
        width: 94%;
    }

    .breadcrum img{
        width: 7px;
    }
}

@media(max-width:500px) {
    .breadcrum {
        gap: 6px;
        font-size: 11px;
        margin: 17px auto;
        font-weight: 500;
    }
    .breadcrum img{
        width: 5px;
    }
}