.breadcrum {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 40px auto;
    text-transform: capitalize;
    width: 80%;
}

@media(max-width:1024px) {
    .breadcrum {
        gap: 15px;
        font-size: 15px;
        margin: 35px auto;
        width: 80%;
    }
}

@media(max-width:800px) {
    .breadcrum {
        gap: 10px;
        font-size: 14px;
        margin: 30px auto;
        width: 90%;
    }
}

@media(max-width:500px) {
    .breadcrum {
        gap: 8px;
        font-size: 12px;
        margin: 25px auto;
        font-weight: 500;
    }
    .breadcrum img{
        width: 6px;
    }
}