.descriptionbox{
    margin: 30px auto;
    width: 89%;
}
.descriptionbox-navigator{
    display: flex;
}
.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 32px;
    border: 1px solid #d0d0d0;
}
.descriptionbox-nav-box.fade{
    background: #FBFBFB;
    color: #555;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #D0D0D0;
    padding: 48px;
    padding-bottom: 70px;
    font-size: 18px;
}

@media(max-width:1280px){

}
@media(max-width:800px){
    .descriptionbox{
        width: 92%;
    }
    .descriptionbox-nav-box{
        font-size: 16px;
        font-weight: 600;
        padding: 16px 24px;
    }
    .descriptionbox-description{
        gap: 15px;
        border: 1px solid #D0D0D0;
        padding: 20px;
        font-size: 14px;
    }
}
@media(max-width:500px){
    
}