.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    width: 80%;
    margin: 0 auto 30px;
}

.lines {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.line {
    width: 45px;
    height: 1px;
    background-color: #000;
}

.text-p {
    font-size: 26px;
    font-weight: 600;
    color: #2b2b2b;
    margin: 0;
}

.sub-title {
    font-size: 34px;
    font-weight: bold;
    color: #2b2b2b;
    margin: 0;
}

.popular-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
    margin-top: 10px;
}

/* Media queries */
@media (max-width: 1024px) {
    .text-p {
        font-size: 22px;
    }

    .sub-title {
        font-size: 30px;
    }

    .popular-items {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width: 800px) {
    .popular {
        width: 90%;
    }

    .text-p {
        font-size: 20px;
    }

    .sub-title {
        font-size: 25px;
    }

    .popular-items {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 500px) {
    .popular {
        padding: 10px 0;
    }

    .text-p {
        font-size: 19px;
    }

    .sub-title {
        font-size: 24px;
    }

    .popular-items {
        grid-template-columns: repeat(2, 1fr);
        gap: 4px 15px;
    }
}