.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: auto;
    width: 80%;
    margin: 0px auto 30px auto;
}

.popular-item {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.lines {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.line {
    display: inline-block;
    width: 35px;
    height: 3px;
    background-color: #000;
}

.text-p {
    font-size: 26px;
    font-weight: 600;
    color: rgb(43, 43, 43);
    margin: 0;
}

.sub-title {
    font-size: 34px;
    font-weight: bold;
    color: rgb(43, 43, 43);
    margin: 0;
}


@media(max-width:1280px) {
    .popular {
        margin: 0px auto 28px auto;
    }

    .text-p {
        font-size: 22px;
    }

    .sub-title {
        font-size: 30px;
    }

    .popular-item {
        margin-top: 40px;
        gap: 20px;
    }
}

@media(max-width:1024px) {
    .popular {
        margin: 0px auto 25px auto;
    }

    .text-p {
        font-size: 20px;
    }

    .sub-title {
        font-size: 28px;
    }

    .popular-item {
        margin-top: 30px;
        gap: 15px;
    }
}

@media(max-width:800px) {
    .popular {
        margin: 0px auto 20px auto;
        width: 90%;
    }

    .text-p {
        font-size: 18px;
    }

    .sub-title {
        font-size: 24px;
    }

    .popular-item {
        margin-top: 10px;
        gap: 8px;
    }
}

@media(max-width:500px) {
    .popular {
        height: auto;
        width: 90%;
        padding: 10px 0px 40px 0px;
    }

    .text-p {
        font-size: 14px;
    }

    .sub-title {
        font-size: 22px;
    }

    .popular-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}