.productdisplay {
    display: flex;
    width: 85%;
    margin: 0px auto 30px auto;
}

.imagenes-left {
    justify-content: center;
    width: 550px;
    display: flex;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productdisplay-img-list img {
    height: 120px;
    width: 95px;
}

.productdisplay-main-img {
    width: 400px;
    height: 530px;
    border-left: 13px solid white;
    object-fit: cover;
}

.selected {
    border: 2px solid rgb(139, 139, 139);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.productdisplay-right {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h2 {
    color: #3d3d3d;
    font-size: 32px;
    font-weight: 700;
}

.productdisplay-right-stars {
    display: flex;
    align-items: center;
    margin-top: 14px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 17px;
}

.productdisplay-right-description {
    font-size: 18px;
}

.productdisplay-right-prices {
    display: flex;
    margin: 30px 0px;
    gap: 30px;
    font-size: 22px;
    font-weight: 700;
}

.productdisplay-right-price-old {
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-price-new {
    color: black;
}

.productdisplay-right-size h2 {
    margin-top: 35px;
    color: black;
    font-size: 22px;
    font-weight: 600;
}

.roductdisplay-right-sizes {
    display: flex;
    margin: 20px 0px 12px 0px;
    gap: 20px;
}

.roductdisplay-right-sizes div {
    padding: 16px 20px;
    background: #f1f1f1;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    cursor: pointer;
}

.disabled-no-size {
    opacity: 0.2;
    cursor: default;
}

.productdisplay-right button {
    padding: 20px 0px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #2e2720;
    margin-bottom: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

.productdisplay-right button:hover {
    background: black;
}

.productdisplay-right-category {
    margin-top: 10px;
    font-size: 16px;
}

.productdisplay-right-category span {
    font-weight: 600;
}

.modal {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border: 1px solid rgb(152, 152, 152);
    box-shadow: 0 0 10px rgba(75, 236, 230, 0.5);
    z-index: 999;
    border-radius: 15px;
}

.modal p {
    margin: 0;
    color: #676767;
    font-weight: 700;
    font-size: 24px;
}

.error-message {
    border: 0.5px solid red;
    padding: 7px;
    border-radius: 10px;
    color: red;
    background: white;
    margin-bottom: 10px;
    width: 190px;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 1280px) {
    .productdisplay {
        width: 85%;
    }

    .imagenes-left {
        width: 480px;
        margin: 0px auto 0px auto;
    }

    .productdisplay-img-list img {
        height: 124px;
        width: 80px;
    }

    .productdisplay-main-img {
        height: 550px;
        width: 350px;
    }

    .productdisplay-right {
        margin: 0px 25px;
    }

    .productdisplay-right h2 {
        font-size: 28px;
    }

    .productdisplay-right-stars {
        margin-top: 12px;
        font-size: 15px;
    }

    .productdisplay-right-prices {
        margin: 30px 0px;
        font-size: 22px;
    }

    .productdisplay-right-description {
        font-size: 16px;
    }

    .productdisplay-right-size h2 {
        margin-top: 28px;
        font-size: 20px;
    }

    .roductdisplay-right-sizes {
        margin: 24px 0px 12px 0px;
        gap: 16px;
    }

    .roductdisplay-right-sizes div {
        padding: 14px 20px;
    }

    .productdisplay-right button {
        padding: 20px 0px;
        width: 170px;
        margin-bottom: 20px;
    }

    .productdisplay-right-category {
        margin-top: 8px;
        font-size: 15px;
    }

    .modal {
        top: 60%;
        left: 48%;
    }

    .modal p {
        font-size: 22px;
    }
}

@media (max-width: 1024px) {
    .productdisplay {
        width: 90%;
        margin-bottom: 10px;
    }

    .imagenes-left {
        width: 360px;
        margin: 0px auto 0px auto;
    }

    .productdisplay-img-list img {
        height: 105px;
        width: 60px;
    }

    .productdisplay-main-img {
        height: 454px;
        width: 280px;
        border-left: 6px solid white;
    }

    .productdisplay-img-list {
        gap: 10px;
    }

    .productdisplay-right {
        margin: 0px 10px;
    }

    .productdisplay-right h2 {
        font-size: 20px;
    }

    .productdisplay-right-stars {
        margin-top: 10px;
        font-size: 14px;
    }

    .productdisplay-right-stars img {
        width: 15px;
    }

    .productdisplay-right-prices {
        margin: 18px 0px;
        font-size: 20px;
    }

    .productdisplay-right-description {
        font-size: 14px;
    }

    .productdisplay-right-size h2 {
        margin-top: 18px;
        font-size: 18px;
    }

    .roductdisplay-right-sizes {
        margin: 14px 0px;
        gap: 14px;
    }

    .roductdisplay-right-sizes div {
        padding: 12px 14px;
        font-size: 14px;
    }

    .productdisplay-right button {
        width: 130px;
        padding: 15px 0px;
        margin-bottom: 15px;
        font-size: 14px;
    }

    .productdisplay-right-category {
        margin-top: 4px;
        font-size: 14px;
    }

    .modal {
        top: 48%;
        left: 48%;
    }

    .modal p {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    .productdisplay {
        width: 94%;
        margin-bottom: 15px;
    }

    .imagenes-left {
        width: 300px;
        margin: 0px auto 0px auto;
    }


    .productdisplay-img-list {
        gap: 6px;
    }

    .productdisplay-img-list img {
        height: 90px;
        width: 50px;
    }

    .productdisplay-main-img {
        height: 380px;
        width: 220px;
        border-left: 5px solid white;
    }

    .productdisplay-right {
        margin-left: 10px;
        margin-right: 0px;
    }

    .productdisplay-right h2 {
        font-size: 16px;
    }

    .productdisplay-right-stars {
        margin-top: 8px;
        font-size: 13px;
    }

    .productdisplay-right-stars img {
        width: 13px;
    }

    .productdisplay-right-prices {
        margin: 16px 0px;
        font-size: 18px;
    }

    .productdisplay-right-description {
        font-size: 13px;
    }

    .productdisplay-right-size h2 {
        margin-top: 12px;
        font-size: 18px;
    }

    .roductdisplay-right-sizes {
        margin: 10px 0px;
        gap: 5px;
    }

    .roductdisplay-right-sizes div {
        padding: 6px 9px;
        font-size: 13px;
    }

    .productdisplay-right button {
        width: 110px;
        padding: 12px 0px;
        margin: 15px 0px;
        font-size: 13px;
    }

    .productdisplay-right-category {
        margin-top: 2px;
        font-size: 12px;
    }

    .modal {
        top: 40%;
        left: 48%;
        padding: 20px;
    }

    .modal p {
        font-size: 16px;
    }

    .error-message {
        padding: 4px;
        margin-bottom: 4px;
        width: 130px;
        font-size: 12px;
    }
}

@media (max-width: 530px) {
    .productdisplay {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .imagenes-left {
        width: 390px;
        margin: 0px auto 0px auto;
    }

    .productdisplay-img-list img {
        height: 112px;
        width: 80px;
    }

    .productdisplay-main-img {
        height: 470px;
        width: 300px;
    }

    .productdisplay-right {
        width: 85%;
        margin: 0 auto;
    }


    .productdisplay-right h2 {
        font-size: 15px;
        margin-top: 8px;
        font-weight: 600;
    }

    .productdisplay-right-stars {
        margin-top: 8px;
        font-size: 13px;
    }

    .productdisplay-right-size h2 {
        margin-top: 12px;
        font-size: 17px;
        font-weight: 600;
    }

    .roductdisplay-right-sizes {
        margin: 16px 0px;
        gap: 12px;
    }

    .roductdisplay-right-sizes div {
        padding: 10px 15px;
        font-size: 14px;
        margin: 2px;
    }

    .productdisplay-right button {
        width: 140px;
        padding: 12px 0px;
        margin: 8px 0px;
        font-size: 13px;
    }

    .productdisplay-right-category {
        margin-top: 4px;
        font-size: 13px;
    }

    .modal {
        top: 65%;
        left: 48%;
        padding: 18px;
    }

    .modal p {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .productdisplay {
        width: 350px;
        margin: 0px auto 0px auto;
    }

    .productdisplay-img-list img {
        height: 99px;
        gap: 0;
        width: 60px;
    }

    .productdisplay-main-img {
        width: 280px;
        height: 420px;
    }

    .productdisplay-right {
        margin-left: 20px;
        margin-right: 0px;
    }
}

@media (max-width: 400px) {
    .productdisplay {
        width: 100%;
    }

    .imagenes-left {
        width: 310px;
        margin: 0px auto 0px auto;
    }

    .productdisplay-img-list img {
        height: 97px;
        width: 55px;
    }

    .productdisplay-main-img {
        height: 410px;
        width: 250px;
    }

    .roductdisplay-right-sizes {
        margin: 14px 0px;
        gap: 8px;
    }

    .roductdisplay-right-sizes div {
        padding: 6px 10px;
        font-size: 12px;
        margin: 2px;
    }

    .modal {
        top: 70%;
        left: 48%;
        padding: 16px;
    }

    .modal p {
        font-size: 12px;
        text-align: center;
    }

    .productdisplay-right button {
        margin: 9px auto;
    }
}

@media (max-width: 350px) {
    .imagenes-left {
        width: 290px;
    }

    .productdisplay-img-list img {
        height: 97px;
        width: 52px;
    }

    .productdisplay-main-img {
        height: 410px;
        width: 235px;
    }

    .roductdisplay-right-sizes {
        margin: 14px 0px;
        gap: 8px;
    }

    .roductdisplay-right-sizes div {
        padding: 6px 10px;
        font-size: 12px;
        margin: 2px;
    }

    .modal {
        top: 70%;
        left: 48%;
        padding: 12px;
    }

    .modal p {
        font-size: 12px;
        text-align: center;
    }
}

@media (max-width: 320px) {
    .imagenes-left {
        width: 260px;
        margin: 0px auto 0px auto;
    }

    .productdisplay-img-list img {
        height: 89px;
        width: 45px;
    }

    .productdisplay-main-img {
        height: 380px;
        width: 210px;
    }


}